* {
  margin: 0;
  padding: 0;
}

body {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 10px;
  align-items: center;
}

#result-btn {
  margin: 20px 0;
  background-color: aquamarine;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
}

form {
  display: flex;
  flex-direction: column;
}

input {
  margin-top: 10px;
}

#exercise-title {
  margin-left: 0;
}